<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 minimum-scale=1.0">
    {% load static %}
    <script type="text/javascript" src="{% static 'kfc/js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'kfc/js/popper.js' %}"></script>
    <script type="text/javascript" src="{% static 'kfc/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'kfc/js/index.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'kfc/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'kfc/css/all.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'kfc/css/bootstrap-social.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'kfc/css/index.css' %}" />
    <title>KFC Wifi</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3" id="login_form">
                <form>
                    <div class="form-group text-center">
                        <img src="{% static 'kfc/images/logo.png' %}" alt="logo" />
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control form-control-lg" id="email" required>
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="name" class="form-control form-control-lg" id="name" required>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-block btn-social btn-google" href="{% url 'social:begin' 'google-oauth2' %}">
                            <span class="fa fa-google"></span>
                            Sign in with Google
                        </a>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-block btn-social btn-twitter" href="{% url 'home' %}">
                            <span class="fa fa-twitter"></span>
                            Sign in with Twitter
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>